{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h2 class="mb-4">
    <i class="bi bi-speedometer2"></i>
    Dashboard
</h2>

<div class="row">

    <div class="col-md-4 mb-4">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h5>CPU Usage</h5>
                <h2>{{ data.cpu_percent }} %</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h5>Memory Usage</h5>
                <h2>{{ data.memory_percent }} %</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h5>Disk Usage</h5>
                <h2>{{ data.disk_percent }} %</h2>
            </div>
        </div>
    </div>

</div>

{% endblock %}