{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/css/servers.css">
{% endblock %}

{% block title %}
Servers
{% endblock %}

{% block content %}

<h2 class="mb-4">
    <i class="bi bi-hdd-network"></i>
    Multi Server Monitoring
</h2>

<div class="row mb-4">

    <div class="col-md-4">
        <div class="card dashboard-card">
            <div class="card-body">
                <h6>Total Servers</h6>
                <h2>{{ servers|length }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card dashboard-card">
            <div class="card-body">
                <h6>Running</h6>
                <h2 class="text-success">
                    {{ servers|length }}
                </h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card dashboard-card">
            <div class="card-body">
                <h6>Offline</h6>
                <h2 class="text-danger">
                    0
                </h2>
            </div>
        </div>
    </div>

</div>

<div class="card dashboard-card">

    <div class="card-body">

        <table class="table table-dark table-hover">

            <thead>
                <tr>
                    <th>Server</th>
                    <th>IP Address</th>
                    <th>CPU %</th>
                    <th>Memory %</th>
                    <th>Disk %</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody id="serverTable">

                {% for server in servers %}

                <tr>
                    <td>{{ server.name }}</td>
                    <td>{{ server.ip }}</td>
                    <td>{{ server.cpu }}</td>
                    <td>{{ server.memory }}</td>
                    <td>{{ server.disk }}</td>
                    <td>
                        <span class="badge bg-success">
                            {{ server.status }}
                        </span>
                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/servers.js"></script>
{% endblock %}